---
layout: page
title: Category
title_zh: 文章分類
permalink: /category/
priority: 3
backgrounds:
    - https://2.bp.blogspot.com/-OsTcX3z9FDI/V11eZ6tx6EI/AAAAAAAAFvg/MuXp9yFHsrgxAoY0HE5JJVz1u-B7w0vyQCPcB/s1600/IMG_4652.JPG
---
{% assign categories = site.categories | sort %}
{% for category in categories %}
{% for site_category in site.data.categories %}
    {% if site_category.slug == category[0] %}
        {% assign mycategory = site_category %}
    {% endif %}
{% endfor %}
<span class="site-tag">
{% capture temp %}{{ category | last | size }}{% endcapture %}
<!-- use math filter plus 0 or times 1 to convert str to num -->
{% assign tag_amount = temp | plus: 0 %}
	{% if tag_amount < 30 %}
    	<a href="/archive/category/{{ mycategory.slug }}/" style="font-size: calc(15px + {{ category | last | size }}px);" >
    {% else %}
    	<a href="/archive/category/{{ mycategory.slug }}/" style="font-size: 45px;" >
	{% endif %}
            {{ mycategory.name }} ({{ category | last | size }})
    </a>
</span>
{% unless forloop.last %}
, 
{% endunless %}
{% endfor %}