---
layout: page
title: Category
title_zh: 文章分類
permalink: /category/
priority: 3
backgrounds:
    - https://lh3.googleusercontent.com/BR8mOqCQ5_PWE7tUuKoo4KC2K7461D89TA7Lh48EbHqv3LcMS3E30udnE7g85PUTVF-G0_C4aGs93D4N859EhddSxOrSBPguGL48glpPlXFWdevMLcWdzsxIqCUHadsm7hT44khDuucJpDIdfVQ36TXOEb8aQrbJHF2aXUJGaPWxRvWuP5pUsjudRSgfqU1TqXSbDKpxubmFYNWKGEPMsaktAHkfdUoljFsjn4VeD0xBm4LhuNOS_1HCi_DXwyp3aSHogW2oWx_1k5JqG1X8B7rqkrqF7BUzrusZtz13uBnZG59Lt2d0EHrZ_MJqgPlxygdbDBgGyw_iVNR61Zd9SpPsJ5bvcTMU8ofi7rCjGEw7shyNgoq_rhys_gszRMKTDdWP9PkN6w4rjxq3mMF4KhYpyuxYrqsX_Kqny10s7t_q8PjooA5EBy3ttEVNDbhE5SxNzw7V8XxbZC8FTdppCgb2EVoPCRO2Eh5s2mBtFbV7JpwUMEgaMkaE6VjWAyIxYXwOHTh7d-q2ZxJscCzUa75vYAjdVlb10c5lNQDxWQwBLvx41MOhOd4iXtsqVuOZVuRohL7iKi84jIVGsLld6K8g6zAoiQVcre_7MKBoLO4VGgsAZrG21HmABb8JFHinT559C5YCO4bYDFKgS8wEPNDqctK6xcn5H7gJ5cQRY2wWxq5og6XUXZ1EAsEyWw=w1000-no-tmp.jpg
---
{% assign categories = site.categories | sort %}
{% for category in categories %}
{% for site_category in site.data.categories %}
    {% if site_category.slug == category[0] %}
        {% assign mycategory = site_category %}
    {% endif %}
{% endfor %}
<span class="site-tag">
{% capture temp %}{{ category | last | size }}{% endcapture %}
<!-- use math filter plus 0 or times 1 to convert str to num -->
{% assign tag_amount = temp | plus: 0 %}
	{% if tag_amount < 30 %}
    	<a href="/archive/category/{{ mycategory.slug }}/" style="font-size: calc(15px + {{ category | last | size }}px);" >
    {% else %}
    	<a href="/archive/category/{{ mycategory.slug }}/" style="font-size: 45px;" >
	{% endif %}
            {{ mycategory.name }} ({{ category | last | size }})
    </a>
</span>
{% unless forloop.last %}
, 
{% endunless %}
{% endfor %}