---
layout: page
title: Tag
title_zh: 標籤
permalink: /tag/
priority: 4
backgrounds:
    - https://lh3.googleusercontent.com/aQYU4u9tpM_PHFBaPlzqDwpcPDxkiVxiwb5VVkg_reec93MoxXkpKeridd3gQtV0IGrIJfHQf1HvaGhRFnKp8bwXCRStV5Tvn97xJpCQM75njEddk4lD1v2gBq7BulOEg69vdwELEad0iLNHBluZqFCSPVkm5FJ3S7OamdDYjNMrs5EtiW6OE48qQBRW1sKOFRplYenix8dQFWbm2s4ic2Y8tVjctS_yKEF5WoM7yNB2bt6iLN8zlTORllGU1uSZiH3jiLt6TVjpUvUW7x8Sl2OTUJzghUbltt8y7c8ufoM9G1BSP0U-uW6AOKmwXFF5DnDbFEzdKa70j51CMfXPR7bPEKFB16J2StUbFcOuGH3h_vx5J4lxPBH6ob0VO8G_bO3U6OSpScgYWCKJc5mwicP49i4ctMI8NRNMdSGHKbXnhefVM69LKTLaY7hoA62OGkaS_jM3_hVX8QSIaWwF7EOLbKxU1xy-UFp8TMieO7Savv64JJUjtS3886vc2Ympor8SNU7KdqkPHHaJ2qrJnPK23p9kRPzDssmdzrp1KafD42jLygd5XVcYgV-CAj22SxMuhar7RgIu30r1zTXIB4yB71awAs6mUNwkXo1EOBV2DMFW9dWmv5iDn5JF4_hCVC0q7FHn1PKdRK1GCcA1ynCwahC7wHnLIREJzd39d7dpix8k1HA2h76F9rJFXw=w1000-no-tmp.jpg
---
{% assign tags = site.tags | sort %}
{% for tag in tags %}
{% for data_tag in site.data.tags %}
        {% if data_tag.slug == tag[0] %}
            {% assign newtag = data_tag %}
        {% endif %}
    {% endfor %}
<span class="site-tag">
{% capture temp %}{{ tag | last | size }}{% endcapture %}
<!-- use math filter plus 0 or times 1 to convert str to num -->
{% assign tag_amount = temp | plus: 0 %}
	{% if tag_amount < 30 %}
    	<a href="/archive/tag/{{ newtag.slug }}/" style="font-size: calc(15px + {{ tag | last | size }}px);" >
    {% else %}
    	<a href="/archive/tag/{{ newtag.slug }}/" style="font-size: 45px;" >
	{% endif %}
            {{ newtag.name }} ({{ tag | last | size }})
    </a>
</span>
{% unless forloop.last %}
, 
{% endunless %}
{% endfor %}