---
layout: page
title: Tag
title_zh: 標籤
permalink: /tag/
backgrounds:
    - https://1.bp.blogspot.com/-W14NcWCAl3c/V109h7rjMGI/AAAAAAAACp0/GE4vs7GO23kF0-NQ_3imGXBYxDa1iMv1wCPcB/s1600/IMG_5572.JPG
---
{% assign tags = site.tags | sort %}
{% for tag in tags %}
<span class="site-tag">
{% capture temp %}{{ tag | last | size }}{% endcapture %}
<!-- use math filter plus 0 or times 1 to convert str to num -->
{% assign tag_amount = {{temp | plus: 0}} %}
	{% if tag_amount < 30 %}
    	<a href="/archive/tag/{{ tag | first | slugify }}/" style="font-size: calc(15px + {{ tag | last | size }}px);" >
    {% else %}
    	<a href="/archive/tag/{{ tag | first | slugify }}/" style="font-size: 45px;" >
	{% endif %}
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% unless forloop.last %}
, 
{% endunless %}
{% endfor %}