---
layout: page
title: Archive
title_zh: 文章列表
permalink: /archive/
priority: 2
backgrounds:
    - https://lh3.googleusercontent.com/t4YpdtcD01bh_-orWp07gLNMfm6SILmZysj8iveJ6JQOKSXGatCUdWonSd9bfznq0838QFgCXr2lhheDwsuZYPtSOgAR4AmxqHmNiUpOKSIlC-07dvytyNT0Y1wVoL_ixAvtRnxDlOmv8tBTPSpHx95nFori1w_4y4xJ1zW9PNNwIy9-W3TqzgAhiZBllPXqiEiQ5NuHxwAgS8xWxvJ_90lJLe0ooH9rlLILea7Wn7vAXG2fXAMQSphUO38FCHh5I71-pSG50wnVkkyR4vE3YOJEmCuGEpQIqPEpX0byxqSsccTABMEyt3AGZjbjxzxA7__4r4vQaOJcytRuWVsrYHMu0i4HI-br-1IZZtI0kRC-48YvI2DF-utkVA7oEpbDBz_4JW1UZVdLtSkv2uongyudydFmacbj_7XkIlrfdMMlDrCaUcIWuG-MSfgu1ALxXnXBCnCpUGPHJ3ioH1a54ulzpNMuOA1qR8odksceZrdJ_1CEFN11c26FHVfu5b26dqicEXvAfDrKzlaAOMHp045wvstpL0pwmFsMYTFE5gd1xg8-kPrcJ_c2Y_HXvYmJLjHH6ifvOkNOv1mBhsa3SCOei8GZaMXOWTz7We3ekxRvvREmbM5nXj3G6o8BW9bCaRs0jU6OKcqwjtPSs7OE2KeHKFeYpWY3Y-zjh5vnL9muUGayJ55K9Gtm03PSwg=w1000-no-tmp.jpg
---

{% for post in site.posts %}
    {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if currentyear != year %}
        {% unless forloop.first %}
        </ul>
        {% endunless %}
        <h3 class="post-archive-year">{{ currentyear }}</h3>
        <ul class="post-archive">
        {% capture year %}{{ currentyear }}{% endcapture %}
    {% endif %}
    <li>
        <a href="{{ site.baseurl }}{{ post.url }}" class="post-archive-link">
            {{ post.title }}
        </a>
    </li>
{% endfor %}
