<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-06-12-輕鬆駕馭意志力.md</key>
			<dict>
				<key>lastModification</key>
				<real>556769488.07411599</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>36</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>521397097.877325</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-06-12-輕鬆駕馭意志力.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Pen</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
			<integer>38</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
