<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-06-12-輕鬆駕馭意志力.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.87806797</real>
				<key>lastModification</key>
				<real>594628035.87806797</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>2016-09-20-Android- MVC心得.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.86275101</real>
				<key>lastModification</key>
				<real>594628035.86275101</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>2018-06-26-sample.md</key>
			<dict>
				<key>lastModification</key>
				<real>591845268.38441002</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-08-03-心中漫畫排行.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.840361</real>
				<key>lastModification</key>
				<real>594628035.840361</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>2018-08-04-Switched 翱翔於天際的夜鷹.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.83055902</real>
				<key>lastModification</key>
				<real>594628035.83055902</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>2018-08-19-人間失格.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.80824995</real>
				<key>lastModification</key>
				<real>594628035.80824995</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2018-08-19-流浪者之歌.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.848755</real>
				<key>lastModification</key>
				<real>594628035.848755</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>2019-09-26-初學Kotlin(1).md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.78874397</real>
				<key>lastModification</key>
				<real>594628035.78874397</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>2019-10-04-Rescue歌詞翻譯-James Bay.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.76699805</real>
				<key>lastModification</key>
				<real>594628035.76699805</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>2019-10-05-Data Binding各種比較.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.77908599</real>
				<key>lastModification</key>
				<real>594628035.77908599</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2019-11-05-Regex Replace.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>594628035.79738402</real>
				<key>lastModification</key>
				<real>594628035.79738402</real>
				<key>version</key>
				<dict>
					<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
					<integer>22</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2018-08-04-Switched 翱翔於天際的夜鷹.md</string>
		</array>
		<array>
			<string>2016-06-12-輕鬆駕馭意志力.md</string>
		</array>
		<array>
			<string>2018-08-03-心中漫畫排行.md</string>
		</array>
		<array>
			<string>2018-08-19-流浪者之歌.md</string>
		</array>
		<array>
			<string>2019-09-26-初學Kotlin(1).md</string>
		</array>
		<array>
			<string>2016-09-20-Android- MVC心得.md</string>
		</array>
		<array>
			<string>2018-08-19-人間失格.md</string>
		</array>
		<array>
			<string>2018-06-26-sample.md</string>
		</array>
		<array>
			<string>2019-11-05-Regex Replace.md</string>
		</array>
		<array>
			<string>2019-10-05-Data Binding各種比較.md</string>
		</array>
		<array>
			<string>2019-10-04-Rescue歌詞翻譯-James Bay.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>4a004a8896e021681db4f70a73163c6f48496ad1dc11f77a4e9cfe586c1d068d</key>
			<integer>28</integer>
		</dict>
	</dict>
</dict>
</plist>
